@model MultiplexKino.Models.Rezervacija.RezervacijaUcitajVM
@*
    @{
    ViewData["Title"] = Model.Naziv;
    Layout = "~/Views/Shared/_Layout.cshtml";
    }*@


<form method="post">
    <div class="main-seat-class">
        <ul class="showcase">
            <li>
                <div class="seat"></div>
                <small>Available</small>
            </li>
            <li>
                <div class="seat-selected"></div>
                <small>Selected</small>
            </li>
            <li>
                <div class="seat-sold"></div>
                <small>Sold</small>
            </li>
        </ul>
    </div>
    <div class="Checking">
        <table>
            @for (int i = 0; i < @Model.Sjedala.Count; i++)
            {
                @if (i % 10 == 0)
                {
                    @i
                    <tr></tr>
                }
                <td>
                    @if (@Model.Sjedala[i].IsZauzeto)
                    {
                        <div class="seat-sold">
                            <label>
                                <input type="checkbox" checked dispabled><span>@Model.Sjedala[i].BrojSjedala</span>
                            </label>
                        </div>
                    }
                    else
                    {
                        <div class="asker">
                            <label>
                                <input type="checkbox" name="SeatsChecked" id="seat-checked" value="@Model.Sjedala[i].Id"><div class="seat-soledas">@Model.Sjedala[i].BrojSjedala</div>
                            </label>
                        </div>
                    }
                </td>
            }
        </table>
    </div>
    <input type="submit" value="Submit" />
</form>
