@page
@using Microsoft.AspNetCore.Components.Web
@model MultiplexKino.Models.SeatSelectionModel

<div class="container-main">
    <form method="post">
        <div class="Checking">
            @foreach (var m in Model.MoviesForShowingData.MoviesForShowing)
            {
                var counter = 0;
                var counterV = 0;
                var isSecondRow = true;
                if (Model.MoviesId == @m.Movie.Id)
                {
                    <div class="main-seat-class">
                        <ul class="showcase">
                            <li>
                                <div class="seat"></div>
                                <small>Available</small>
                            </li>
                            <li>
                                <div class="seat-selected"></div>
                                <small>Selected</small>
                            </li>
                            <li>
                                <div class="seat-sold"></div>
                                <small>Sold</small>
                            </li>
                        </ul>
                        <div class="screen"></div>
                        @foreach (var s in @m.CinemaHall.SeatsForHall.Seats)
                        {
                            if (@s.IsBusy)
                            {
                                <div class="seat-sold">
                                    <label>
                                        <input type="checkbox" checked dispabled><span>@s.SeatNumber</span>
                                    </label>
                                </div>
                            }
                            else
                            {
                                <div class="asker">
                                    <label>
                                        <input type="checkbox" name="SeatsChecked" id="seat-checked" value="@s.Id"><div class="seat-soledas">@s.SeatNumber</div>
                                    </label>
                                </div>
                            }
                            if (counterV == 10)
                            {
                                isSecondRow = true;
                                counterV = 0;
                                counter = 0;
                            }

                            counter++;
                            counterV++;
                            if (counter == 5 && isSecondRow)
                            {
                                isSecondRow = false;
                                counter = 0;
                                <div class="spacing-betwene"></div>
                            }

                        }
                        <div class="btn-submit-seat-food">
                            <input type="submit" value="Rezervisi" class="btn-edit" id="Reserve">
                        </div>
                    </div>
                    <div class="food-container">
                        <span>Food chose(optional)</span>
                        @foreach (var s in Model.FoodChose)
                        {
                            <div class="food-card">
                                <span>@s.Name</span>
                                <span class="cart-item-price">@s.Price</span><span>€</span>
                                <div class="button-sub-add">
                                    <button class="lower">-</button>
                                    <input class="quantity-input" type="number" min="0" max="50" value="0" style="width: 40%">
                                    <button class="up">+</button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="final-info">
                        <div id="final-price">UKUPNA CIJENA</div>
                        <span class="cart-total-price">0€</span>
                    </div>
                }
            }
        </div>
    </form>
</div>

<script>
    if (document.readyState == 'loading') {
    document.addEventListener('DOMContentLoaded', ready)
    } else {
    ready()
    }

    function ready(){
        var quantityInputs = document.getElementsByClassName("quantity-input")
        for (var i = 0; i < quantityInputs.length; i++) {
            var input = quantityInputs[i]
            input.addEventListener("change", quantityChanged)
        }
    }
    function quantityChanged(event) {
        var input = event.target
        if (isNaN(input.value) || input.value <= 0) {
            input.value = 0
        }
        updateCartTotal()
    }

    function updateCartTotal(){
    var foodContainer = document.getElementsByClassName("food-container")[0];
    var foodCard = foodContainer.getElementsByClassName("food-card");
    var total = 0;
    for(var i=0;i<foodCard.length;i++)
    {
        var foodCards = foodCard[i];
        var priceElement = foodCards.getElementsByClassName("cart-item-price")[0];
        var quantityElement = foodCards.getElementsByClassName("quantity-input")[0];
        var price = parseFloat(priceElement.innerText.replace("€", ""));
        var quantity = quantityElement.value;
        total = total + (price * quantity);
    }
    total = Math.round(total * 100) / 100
    document.getElementsByClassName("cart-total-price")[0].innerText =  total + '€'
    }
</script>
