@model IEnumerable<MultiplexKino.Models.Film.FilmListaVM>

@{
    ViewData["Title"] = "Index";
}

<div class="pageContainer">
    <div class="adminContainer">

        <a class="adminLink" asp-area="" asp-controller="Film" asp-action="Index">Upravljanje filmovima</a>

        <a class="adminLink" asp-area="" asp-controller="Projekcija" asp-action="Index">Upravljanje projekcijama</a>

        <a class="adminLink" asp-area="" asp-controller="Informacija" asp-action="Index">Upravljanje Informacijama</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Plakat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Naslov)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Trajanje)
                </th>
                <th>
                    Godina snimanja
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Zanr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reditelj)
                </th>
                <!--<th>
                    Glumci
                </th>-->
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Plakat))
                        {
                            <img src="@item.Plakat" style="max-width:100px; max-height:100px" />
                        }
                        else
                        {
                            <img src="~/img/no-movie-posters.jpg" style="max-width:100px; max-height:100px" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naslov)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trajanje)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GodinaSnimanja)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zanr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reditelj)
                    </td>
                    <!--<td>
                    @*@String.Join(", ", item.Glumci.ToArray())*@
                    </td>-->
                <td>
                        @Html.ActionLink("Prikaz", "Prikaz", new { id = item.Id }, new {@class = "btn btn-info"}) |
                        @Html.ActionLink("Uredi", "Uredi", new { id = item.Id }, new {@class = "btn btn-primary"}) |
                        @Html.ActionLink("Briši", "Brisi", new { id = item.Id }, new {@class = "btn btn-danger"})
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a asp-action="Dodaj" class="btn btn-success">Dodaj novi film</a>
    </p>
</div>

